{% extends "base.html" %}
{% load timezone %}
{% block title %}FAQ - Snipperize{% endblock %}
{% block meta %}
<meta name="keywords" content="{% for l, v in request.SUPPORT_LANGUAGES.items %}{{ v }} snippets{% if not forloop.last %}, {% endif %}{% endfor %}, {% for l, v in request.SUPPORT_LANGUAGES.items %}{{ v }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
<meta name="description" content="FAQ for Snipperize.com. Snipperize is a code clips warehouse, support {% for l, v in request.SUPPORT_LANGUAGES.items %}{{ v }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
<meta name="author" content="Prof.Syd.Xu" />
<meta name="robots" content="noindex" />
{% endblock %}
{% block title_subs %}
<span class="divider">/</span>FAQ
{% endblock %}
{% block site_sub %}
Snipperize.com FAQ
{% endblock %}
{% block body_content %}
<h2>FAQ</h2>
<p>If you have any question please write on <a href="http://code.google.com/p/snipperize/issues/list" title="Snipperize Open Source on Google Code" rel="nofollow" target="_blank" class="external">http://code.google.com/p/snipperize/issues/list</a></p>
{% endblock %}