<?xml version="1.0"?>
<OpenSearchDescription xmlns="http://a9.com/-/spec/opensearch/1.1/" xmlns:moz="http://www.mozilla.org/2006/browser/search/">
    <ShortName>Snipperize</ShortName>
    <Description>Snipperize is a snippets warehouse</Description>
    <Image height="16" width="16" type="image/x-icon">http://snipperize.todayclose.com/favicon.ico</Image>
    <Url type="text/html" method="get" template="http://snipperize.todayclose.com/snippets/?keyword={searchTerms}" />
    <Url type="application/x-suggestions+json" method="get" template="http://snipperize.todayclose.com/api/opensearch/?keyword={searchTerms}/"
/>
    <moz:SearchForm>http://snipperize.todayclose.com/api/searchform/</moz:SearchForm>
</OpenSearchDescription>