{% extends "base.html" %}
{% load timezone %}
{% block title %}Privacy policy - Snipperize{% endblock %}
{% block meta %}
<meta name="keywords" content="{% for l, v in request.SUPPORT_LANGUAGES.items %}{{ v }} snippets{% if not forloop.last %}, {% endif %}{% endfor %}, {% for l, v in request.SUPPORT_LANGUAGES.items %}{{ v }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
<meta name="description" content="Snipperize private policy. Snipperize is a code clips warehouse, support {% for l, v in request.SUPPORT_LANGUAGES.items %}{{ v }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
<meta name="author" content="Prof.Syd.Xu" />
<meta name="robots" content="noindex" />
{% endblock %}
{% block title_subs %}
<span class="divider">/</span>Private policy
{% endblock %}
{% block site_sub %}
Snipperize.com private policy
{% endblock %}
{% block body_content %}
<h2>Private policy</h2>
<p>All the snippets published on snipperize which are not set as private are following <a href="http://creativecommons.org/licenses/by/2.5/cn/" title="Creative Common Attribute 2.5 China Mainland" rel="nofollow" class="external">Creative Common Attribute 2.5 China Mainland</a>. Snipperize don't take responsibility for the illegal usage of your code. Snipperize will not distribute the code to any third-party. Please don't spread the snippets on snipperize without any authentication. Snipperize will not give your personal information to any other websites.</p>
{% endblock %}