<html>
    <head>
        <meta http-equiv="refresh" content="1;url=/feeds/latest/"/>
    </head>
    <body>
        <script type="text/javascript">
        window.google_analytics_uacct = "UA-254029-9";
        </script>
        <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-254029-9");
            pageTracker._trackPageview();
        } catch(err) {}
    </script>
    </body>
</html>